<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Početna stranica</title>
</head>
<body>
    <p>Username</p>
    <img src="../static/images/user-icon.png" alt="User" width = "200px">
    <br>
    <br>
    <img src="../static/images/icon.png" alt="Kucica" width = 200px>
    <br>
    <br>
    <a href="/logout">Logout</a>
    <a href="/?id = 1">Temperatura</a>
    <a href="/?id = 2">Vlaga</a>
    <br>
    <br>
    <table>
        <tr>
            <th>Vrijeme</th>
            <th>Temperatura</th>
            <th>Brisanje</th>
        </tr>

        <tr>
            <td>Datum1</td>
            <td>23</td>
            <td><Button>Obrisi</Button></td>
        </tr>

        <tr>
            <td>Datum1</td>
            <td>23</td>
            <td><Button>Obrisi</Button></td>
        </tr>

        <tr>
            <td>Datum1</td>
            <td>23</td>
            <td><Button>Obrisi</Button></td>
        </tr>

        
    </table>

</body>
</html>
